

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0 auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
    
}



 /* .banner .myLogo {
    border: 2px blue solid;
    border-top: 100px;
    
} */

 .banner nav {
    /* border: 2px grey solid; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
   
        
}

.banner nav a {
    text-decoration: none;
    color: darkgray;
    display: flex;
    flex-direction: column-reverse;
}
.myImage {
    
    height: 150px;
    width: 85%;
    margin: 40px 40px;
    margin-left: 100px;
}
body {
  
    line-height: 1;
    width:90%;
 
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 20px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
    
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
 
#box1 {
    background: teal;
 
}
#box2 {
    background: gold;
 
}

#box3 {
    background:cadetblue;
 
}

#box4 {
    background:coral;
 
}
#box5 {
    background:crimson;
 
}
#box6 {
    background:forestgreen;
 
}
#box7 {
    background:darkorchid;
 
}
#box8  {
    background: indigo;
 
}
#box9 {
    background: indigo;
 
}
#box10 {
    background: dodgerblue;
 
}

 .middle-content .boxes  .box {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}




.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
    margin-right: 40px;
    margin-left: 40px;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;

}



p {
    line-height: 1.6;

    
}

#bottom{
    margin-top: 50px;
    margin-bottom: 20px;
   
}


.division  {
    /* border:black solid 2px; */
    display:flex;
    flex-wrap: wrap;
    flex-direction:row-reverse;
    justify-content:center;
    width:600px;
    align-items: flex-end;
    margin-top: 50px;
    border-bottom: black dotted 2px;
    padding: 20px;

}

.division .squares {
    /* border: blue solid 2px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    margin: 20px auto;
    text-align: start;
    padding: 30px;
}

/* .boxing{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: start;
    border: red solid 2px;
} */



.squares{
    display: flex;
    width:500px;
    flex-wrap: wrap;
    line-height: 1.6;
       
}

button {
    color:black;
    border-radius:20px;
    font-size: 15px;
    height: 40px;
    width: 175px;
    border: black 2px solid;
    margin-top: 10px;
    margin-bottom: 20px;
      
}


.final {
    margin-right: 40px;
    margin-left:40px;
    margin-bottom: 40px;
}


 .mainBody {
    
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
} 

.aboutName {
    
    margin-right: 100px;
    margin-left: 100px;
    border-bottom: black dotted 2px;
    padding: 15px;
}

/* #bottom {
    margin-left: 100px;
}

#start {
    margin-left: 100px;
}

#top {
    margin-left: 100px;
} */

.nopic{ 
    display: flex;
    flex-wrap: wrap;
   
}

.title {
    margin: 0 auto;
    margin-right:350px;
    margin-top: 10px;
    padding: 10px;   

}
